@use 'variaveis';

.header{
    margin-top: -100px;
    position: sticky;
    top: 0;
    z-index: 200;
    background: rgba(0,0,0, .3);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 60px;

        @media (max-width: 768px){
            padding: 24px 20px;
        }
    }
    .menu{
        &__list{
            display: flex;
            gap: 24px;
            align-items: center;
            padding: 2px 2px 7px;

            @media (max-width: 768px){
                display: none;
            }
            &__item{
                
                img{
                    display: block;
                    height: 40px;
                }
                a{
                    color: variaveis.$corTexto;
                    font-size: 21px;
                    font-weight: bold;

                    &:hover{
                        color: lighten(#fff, 10%);
                    }

                    img{
                        height: 35px;
                    }
                }
            }
            
        }
    }
}

.icons{
    &__list{
        display: flex;
        gap: 24px;
        align-items: center;
        &__item{
            img{
                height: 24px;
                max-width: 100%;
            }
            &:last-child{
                img{
                    height: 32px;
                }
            }
        }
    }
}

.branding{
    height: 30px;
}